<h2>{{title}}</h2>

<div>
  <table class="table table-sm table-striped">
    <thead>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Supplier</th>
      <th>Rating</th>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>{{product.price}}</td>
        <td>{{product.supplier?.name || 'None'}}</td>
        <td>{{product.ratings?.length || 0}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary mr-1" (click)="createProduct()">Create Product</button>
  <button class="btn btn-primary mr-1" (click)="createProductAndSupplier()">Create Product and Supplier</button>
</div>

<router-outlet></router-outlet>
